<app-navbar></app-navbar> <!-- Include the navigation bar -->
<div class="dashboard-container">
  <h2>Welcome to the Dashboard!</h2>
  <div class="balance-container">
    <div class="balance-item">
      <label>Balance:</label>
      <span>{{ balance }}</span>
    </div>
    <div class="balance-item">
      <label>Final Balance:</label>
      <span>{{ finalBalance }}</span>
    </div>
  </div>
  <div class="button-container">
    <button (click)="getAccountInfo()">Get Account Info</button>
    <button (click)="navigateToTransfer()">Transfer</button>
    <button (click)="navigateToDeposit()">Deposit</button>
    <button (click)="navigateToWithdraw()">Withdraw</button>
    <button (click)="navigateToTransactionHistory()">Show Transaction History</button>  
    <button (click)="navigatetoAccountEmail()">Account Info By Email</button>
  </div>
</div>
